<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tadlockc.ffbearmory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WhipsCategorySelection"></activity>
        <activity android:name=".ThrowingCategorySelection" />
        <activity android:name=".SwordsCategorySelection" />
        <activity android:name=".StaffsCategorySelection" />
        <activity android:name=".SpearsCategorySelection" />
        <activity android:name=".RodsCategorySelection" />
        <activity android:name=".MacesCategorySelection" />
        <activity android:name=".KatanasCategorySelection" />
        <activity android:name=".HarpsCategorySelection" />
        <activity android:name=".HammersCategorySelection" />
        <activity android:name=".GunsCategorySelection" />
        <activity android:name=".GreatSwordsCategorySelection" />
        <activity android:name=".FistsCategorySelection" />
        <activity android:name=".DaggersCategorySelection" />
        <activity android:name=".BowCategorySelection" />
        <activity android:name=".AxeCategorySelection" />
        <activity android:name=".ArmoryPageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>